<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bahtinov_Collimator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bahtinov_Collimator.Properties.Settings>
            <setting name="Aperture" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="FocalLength" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="PixelSize" serializeAs="String">
                <value>4.76</value>
            </setting>
            <setting name="CS_Slider" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CS_Swap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CS_RedReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CS_GreenReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CS_BlueReverse" serializeAs="String">
                <value>False</value>
            </setting>
        </Bahtinov_Collimator.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>