<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bahtinov_Collimator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bahtinov_Collimator.Properties.Settings>
            <setting name="Aperture" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="FocalLength" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="PixelSize" serializeAs="String">
                <value>4.76</value>
            </setting>
            <setting name="RedChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GreenChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlueChannel" serializeAs="String">
                <value>True</value>
            </setting>
        </Bahtinov_Collimator.Properties.Settings>
    </userSettings>
</configuration>