<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <Configuration>Release</Configuration>

    <!-- Offline install -->
    <InstallFrom>Disk</InstallFrom>

    <!-- Offline package should not try to update from the web -->
    <UpdateEnabled>False</UpdateEnabled>

    <!-- Bootstrapper -->
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <BootstrapperEnabled>True</BootstrapperEnabled>

    <PublishDir>bin\Release\app.publish\</PublishDir>

    <!-- Common -->
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>

    <!-- Manifests -->
    <GenerateManifests>True</GenerateManifests>
    <SignManifests>False</SignManifests>
    <SignAssembly>False</SignAssembly>

    <ApplicationRevision>0</ApplicationRevision>
    <IsRevisionIncremented>True</IsRevisionIncremented>
  </PropertyGroup>
</Project>
